.compiler__button {
    background-color: #59A1FF;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: 3px solid #59A1FF;
    width: 250px;
    height: 35px;
    margin-left: 30px;
}

.compiler__button:hover {
    background-color: #FFF;
    color: #59A1FF;
}

.color-aqua {
    color: #00FFFF;
}